.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: #1f253d;
    width: 1100px;
    height: 1730px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    font-family: Ubuntu;
    color: white;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    height: 80px;
    background: #394165;
    border-radius: 5px;
}

.frame {
    position: relative;
    width: 900px;
    height: 1600px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
    font-size: 18px;
}

.block img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.blockhov:hover {
    background: #50587c;
    box-shadow: inset 0 -2px 2px #11a8ab;
    cursor: pointer;
}

.me {
    display: flex;
    align-items: center;
}

.anne-small img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #9099b7;
}

.messages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    position: relative;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e64c65;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 5px;
}

.five {
    font-size: 15px;
}

.menu-box {
    width: 280px;
    height: 360px;
    background: #394165;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
}

.menu-block {
    width: 280px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #1f253d;
    font-weight: normal;
}

.menu-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.block1 {
    width: 280px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #1f253d;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.block1 img {
    width: 30px;
    height: 30px;
}

.color-teal {
    background: #11a8ab;
}

.menu-block:hover {
    background: #50587c;
    cursor: pointer;
}

.border {
    border-radius: 0 0 5px 5px;
    border: 0;
}

.menu-block-img {
    display: flex;
}

.menu-block-img img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
}



.oval-grey {
    width: 40px;
    height: 25px;
    border-radius: 40%;
    background-color: #9099b7;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oval-red {
    width: 40px;
    height: 25px;
    border-radius: 40%;
    background-color: #e64c65;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.june {
    width: 280px;
    height: 400px;
    padding: 20px 0 0 0;
    display: flex;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #394264;
    border-radius: 5px 5px 0 0;
}

.june-bottom1 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 5px solid #e64c65;
    border-right: 2px solid #1f253d;
    border-radius: 0 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.june-bottom2 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 5px solid #11a8ab;
    border-right: 2px solid #1f253d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.june-bottom3 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 5px solid #fcb150;
    border-right: 2px solid #1f253d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.june-bottom4 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 5px solid #4fc4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 0;
}

.grey {
    color: #9099b7;
    font-weight: bold;
}

.diagram {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
}

.diagram img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.june-bottom {
    position: absolute;
    bottom: 0;
    width: 280px;
    height: 80px;
    display: flex;
    font-size: 15px;
    display: flex;
}

.graph {
    width: 280px;
    height: 400px;
}

.graph img {
    width: 280px;
    border-radius: 5px 5px 0 0;
}

.video {
    width: 280px;
    height: 200px;
    display: flex;
}

.videos {
    display: flex;
}

.youtube {
    width: 280px;
    display: flex;
}

.stat {
    width: 280px;
    height: 110px;
    display: flex;
    flex-flow: row wrap;
}

.bigblock {
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigblock img {
    width: 30px;
    height: 30px;
}

.stat-line {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-topleft {
    border-radius: 5px 0 0 0;
    border: 0;
}

.border-topright {
    border-radius: 0 5px 0 0;
    border: 0;
}

.border-bottomleft {
    border-radius: 0 0 0 5px;
    border: 0;
}

.border-bottomright {
    border-radius: 0 0 5px 0;
    border: 0;
}

.anne {
    position: relative;
    width: 280px;
    height: 385px;
    background: #394165;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.grey-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #394165;
    box-shadow: 0 0 0 1.5px #9099b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus {
    font-size: 18px;
    color: #9099b7;
    font-weight: bold;
}

.anne-bottom {
    position: absolute;
    bottom: 0;
    width: 280px;
    height: 55px;
    display: flex;
    font-size: 15px;
}

.bottom1 {
    width: 33%;
    height: 100%;
    background: #50587c;
    border-top: 5px solid #e64c65;
    border-right: 2px solid #1f253d;
    border-radius: 0 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 {
    width: 33%;
    height: 100%;
    background: #50587c;
    border-top: 5px solid #11a8ab;
    border-right: 2px solid #1f253d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom3 {
    width: 33%;
    height: 100%;
    background: #50587c;
    border-top: 5px solid #fcb150;
    border-radius: 0 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anne-bottom img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.weather {
    width: 280px;
    height: 500px;
}

.block24 {
    width: 100%;
    height: 180px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.twitter {
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grey-block {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 175px;
    color: #9099b7;
    font-size: 16px;
    font-weight: bold;
    background-color: #394264;
    border-bottom: 3px solid #1f253d;
}

.blue-text {
    color: #35aadc;
    text-align: left;
}

.grey-text {
    margin: 20px;
    text-align: left;
    color: #9099b7;
}

.smallblock {
    width: 280px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.color-lblue {
    background-color: #4fc4f6;
}

.color-red {
    background-color: #e64c65;
}

.color-dblue {
    background-color: #3468af;
}

.color-ddblue {
    background-color: #1a4e95;
}

.color-tweetblue {
    background-color: #35aadc;
}

.color-dred {
    background-color: #cc324b;
}

.color-lgrey {
    background-color: #50597b;
}

.color-dgrey {
    background-color: #394165;
}

.square-block {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-block img {
    width: 25px;
    height: 25px;
}
.share {
    height: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.border-left {
    border-radius: 5px 0 0 5px;
    border: 0;
}

.newsletter {
    width: 280px;
    height: 220px;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.email {
    width: 240px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #11a8ab;
    display: flex;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    color: white;
    margin: auto;
}

.password {
    width: 240px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #1f253d;
    display: flex;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    color: #9099b7;
    margin: auto;
}

.icon {
    background-image: url(messages.png);
    width: 20px;
    height: 20px;
    background-color: #50587c;
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 20px;
}

.icon2 {
    background-image: url(lock.png);
    background-color: #50587c;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 20px;
}

.subscribe {
    width: 180px;
    height: 50px;
    background: #11a8ab;
    border-radius: 5px;
    display: flex;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-width: 2px 0;
    border-style: solid;
    border-color: #979bc6 #6d6e70 #707287;
    border-radius: 6px;
}

.signin-button {
    width: 180px;
    height: 50px;
    background: #e64c65;
    border-radius: 5px;
    display: flex;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-width: 2px 0;
    border-style: solid;
    border-color: #979bc6 #6d6e70 #707287;
    border-radius: 6px;
}

.signin-button:hover {
    background: linear-gradient(#e64c65, #752633);
    cursor: pointer;
    animation: pulsate 1.5s linear infinite;
}

.subscribe:hover {
    background: linear-gradient(#11a8ab, #1b475a);
    cursor: pointer;
    animation: pulsate 1.5s linear infinite;
}

.subscribe:active {
    background: linear-gradient(#1b475a, #11a8ab);
    animation-play-state: paused;
}

.signin-button:active {
    background: linear-gradient(#752633, #e64c65);
    animation-play-state: paused;
}

.sign-in {
    width: 280px;
    height: 400px;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.color-grey {
    font-size: 15px;
    color: #9099b7;
    width: 100%;
    height: 40px;
}

.fb {
    width: 100%;
    height: 50px;
    background-color: #3468af;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fb img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.progress-bar {
    width: 280px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
    
}

.progress-1 {
    height: 18px;
    width: 220px;
   
}

.progress-2 {
   
    height: 18px;
    width: 220px;
    
}

.loading {
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.wednesday {
    width: 280px;
    height: 280px;
    background: #3468af;
    border-radius: 5px;
    text-align: center;
    font-size: 120px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top {
    width: 100%;
    height: 50px;
    background-color: #1a4e95;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}

.top img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.event {
    width: 180px;
    height: 50px;
    background: #4fc4f6;
    border-radius: 5px;
    display: flex;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-width: 2px 0;
    border-style: solid;
    border-color: #979bc6 #6d6e70 #707287;
    border-radius: 6px;
}

.event:hover {
    background: linear-gradient(#4fc4f6, #074344);
    cursor: pointer;
    animation: pulsate 1.5s linear infinite;
}

.event:active {
    background: linear-gradient(#074344, #4fc4f6);
    animation-play-state: paused;
}

.calendar {
    width: 280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    background-color: #394264;
    border-radius: 5px;
}

.weekdays {
    color: #1a4e95;
    font-weight: bold;
}

.month {
    height: 330px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week {
    width: 100%;
    height: 14%;
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.day {
    width: 40px;
    height: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today {
    position: relative;
    width: 30px;
    height: 25px;
    background-color: #e64c65;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.future {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.column {
    margin-right: 30px;
    border-radius: 5px;
    background: #394165;
    text-align: center;
    justify-content: center;
}

.anne-photo {
    background-image: url(anne_big.jpg);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #9099b7;
}

.diagram {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-hole {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #394264;
    box-shadow: inset 0 0 0 1.5px grey;
    z-index: 1;
}

.grey-2013 {
    color: #9099b7;
    text-weight: bold;
    font-size: 18px;
}

.content {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
}

pie {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #394165;
    background-color: transparent;
}

.red-slice {
    background-image: linear-gradient(260deg, #e64c65 50%, transparent 50%), linear-gradient(315deg, white 50%, transparent 50%);
}

.teal-slice {
    background-image: linear-gradient(320deg, #11a8ab 50%, transparent 50%), linear-gradient(130deg, transparent 50%, transparent 50%);
}

.blue-slice {
    background-image: linear-gradient(55deg, #4fc4f6 50%, transparent 50%), linear-gradient(150deg, transparent 50%, transparent 50%);
}

.yellow-slice {
    background-color: #fcb150;
}

@font-face {
    font-family: "Ubuntu";
    src: url('Ubuntu-L.ttf')format('truetype');
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px grey, 0 0 5px #ffd, 0 0 8px #fff;
    }