body {
    background-color: #1f253d;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #1f253d;
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 70px;
    font-family: Ubuntu;
    color: white;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 635px;
    height: 55px;
    background-color: #394264;
    border-radius: 3px;
    margin-bottom: 15px;
}

.header-begin {
    display: flex;
    height: 100%;
    width: 332px;
}

.header-end {
    display: flex;
    height: 100%;
    width: 303px;
    justify-content: space-between;
}

.frame {
    width: 635px;
    display: flex;
    justify-content: space-between;
}

.frame-column {
    width: 33,3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.headersblock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
}

.userblock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
    
}

.userblock img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.headertext {
    font-size: 12px;
    text-align: center;  
}

.header-block img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.blockhov:hover {
    background: #50587c;
    box-shadow: inset 0 -3px 3px #11a8ab;
    cursor: pointer;
}

.anne-small img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 1.4px #9099b7;
    
}

.red {
    position: relative;
    top: -10px;
    right: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e64c65;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.five {
    font-size: 10px;
    font-weight: bold;
}

.menu-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 16px;    
}

.menu-block {
    width: 100%;
    height: 40px;
    background-color: #394264;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 11px;
}

.menu-pictures {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-size: 18px;
    background-repeat: no-repeat;
}

#messages {    
    background-image: url(messages-g.png);
}

#invites {
    background-image: url(invites-g.png);
}

#events {
    background-image: url(events-g.png);
}

#settings {
    background-image: url(settings-g.png);
}

#statistics {
    background-image: url(statistics-g.png);
}


.menu-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;       
}

.text-blocks {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px; 
    border: 1px solid red;       
}

.upper {
    position: relative;
    top: -2px;
    font-size: 6px;
}

.block-top {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;    
}

.block-top2 {
    width: 200px;
    height: 50px;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    
}


.block-top img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.color-teal {
    background: #11a8ab;
}

.menu-block:hover {
    background: #50587c;
    cursor: pointer;
    background-clip: padding-box;
}

.menu-block:hover .oval-grey {
    background-color: #e64c65;
}

.menu-block:hover #messages {
    background-image: url(messages-w.png);
}

.menu-block:hover #invites {
    background-image: url(invites-w.png);
}

.menu-block:hover #events {
    background-image: url(events-w.png);
}

.menu-block:hover #settings {
    background-image: url(settings-w.png);
}

.menu-block:hover #statistics {
    background-image: url(statistics-w.png);
}

.border {
    border-radius: 0 0 4px 4px;
    border: 0;
}

.menu-txt {
    display: flex;    
}


.progress-value {
    display: inline-block;
    
}

.oval-grey {
    width: 25px;
    height: 16px;
    border-radius: 8px;
    background-color: #50597b;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10.5px;
}



.june {
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.june-middle {
    width: 100%;
    height: 235px;
    background-color: #394264;
    display: flex;    
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px 4px 0 0;
}

.june-bottom1 {
    width: 25%;
    height: 100%;
    background: #50587c;
    box-shadow: 0px -2px 0 0 #e64c65;
    margin-right: 1px;
    border-radius: 0 0 0 4px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
       
}

.june-bottom2 {
    width: 25%;
    height: 100%;
    background: #50587c;
    box-shadow: 0px -2px 0 0 #11a8ab;
    margin-right: 1px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
        
}

.june-bottom3 {
    width: 25%;
    height: 100%;
    background: #50587c;
    box-shadow: 0px -2px 0 0 #fcb150;
    margin-right: 1px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset -1px, -1px, 0, 1px, rgba(31, 37, 61, 0.5);
   
}

.june-bottom4 {
    width: 25%;
    height: 100%;
    background: #50587c;
    box-shadow: 0px -2px 0 0 #4fc4f6;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 0;
    
}

.grey {
    color: #9099b7;
    font-weight: bold;      
}

.red-text {
    color: #e64c65;
    font-weight: bold;
    margin-right: 2px;
}

.june-bottom {
    width: 200px;
    height: 52px;
    display: flex;
    
}

.graph {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.graph-bottom {
    width: 200px;
    height: 50%;
    background-color: #394264;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 4px 4px;   
}

.graph img {
    width: 200px;
    border-radius: 4px 4px 0 0;    
}

.buttons {
    width: 168px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 22px;
    display: flex;   
    justify-content: center;
}


.radio-button {
    display: inline-block;
    position: relative;
    outline: none;
   }

.radio-button label:hover {
    background-color: #e64c65;
    cursor: pointer;
}

.radio-button input[type='radio'] {
    display: none;
  }
  
.radio-button label {
    position: relative;
    color: white;
    background-color: #50597b;
    width: 50px;
    height: 20px;
    border-radius: 4px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #394264;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
    outline: none;
   }
  
  .radio-button input[type='radio']:checked + label {
    background-color: #cc324b;
    display: block;
    border: 1.5px solid #cc324b;
    
  }

.months {
    width: 95%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
        
}
    

.line {
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   

}
.video {
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 0 4px 1px #50587c;
    margin-bottom: 5px;
    
}

.video-content {
    display: block;
    width: 192px;
    height: 100px;
    margin-top: 4px;
}

.fake-controls {
    display: flex;    
    width: 200px;
    margin-bottom: 15px;    
}

.fake-controls img {
    border-radius: 0 0 4px 4px;
    width: 200px;
    height: 35px;
}

.stat {
    width: 200px;
    display: flex;
    flex-flow: row wrap;
}

.bigblock {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigblock img {
    width: 20px;
    height: 20px;
}

.stat-line {
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.border-topleft {
    border-radius: 4px 0 0 0;
    border: 0;
}

.border-topright {
    border-radius: 0 4px 0 0;
    border: 0;
}

.border-bottomleft {
    border-radius: 0 0 0 4px;
    border: 0;
}

.border-bottomright {
    border-radius: 0 0 4px 0;
    border: 0;
}

.anne {
    position: relative;
    width: 200px;
    background-color: #394264;
    border-radius: 4px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 16px;
}

.anne-text {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    width: 130px;
    line-height: 3em;
}

.anne-grey {
    line-height: 1.3em;
    color: #9099b7;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 10px;
}

.grey-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #394264;
    box-shadow: 0 0 0 1.5px #9099b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus {
    position: relative;
    top: -2px;
    left: 1px;
    font-size: 13px;
    color: #9099b7;
}

.anne-bottom {
    width: 200px;
    height: 42px;
    display: flex;
    font-size: 10px;
}

.bottom1 {
    width: 33%;
    height: 100%;
    background: #50587c;
    box-shadow: 0px -2px 0 0 #e64c65;
    margin-right: 1px;
    border-radius: 0 0 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 {
    width: 33%;
    height: 100%;
    background: #50587c;
    box-shadow: 0px -2px 0 0 #11a8ab;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom3 {
    width: 33%;
    height: 100%;
    background: #50587c;
    box-shadow: 0px -2px 0 0 #fcb150;
    border-radius: 0 0 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anne-bottom img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}


.weather {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;
}

.font-normal {
    font-weight: normal;
    font-size: 10px;
}

.weather-block {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #394264;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 11px;
}

.weather-block:hover{
    background: #50587c;
    cursor: pointer;
    background-clip: padding-box;
}

.weather-blocks {
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
      
}

.weather-blocks img {
    width: 18px;
    margin-left: 5px;  
}

.weather-day {
    color: #fff;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}

.weather-block:hover .weather-day {
    color: #e64c65;
}

.block-day {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
          
}

.block-day img {
    width: 70px;
   }

.day-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.temp {
    font-size: 50px;
}

.date {
    font-size: 10px;
    letter-spacing: 0.5px;
}

.twitter {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.block-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey-block {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #394264;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    font-size: 10px;
    font-weight: normal;
}

.blue-text {
    color: #4ebbec;
    
}

.tweet-text {
    text-align: left;
    color: #fff;
    line-height: 15px;
    letter-spacing: 0.2px;
    margin: 18px 20px 0 20px;   
}

.margin-left {
    margin-left: 20px;
}

.margin-bottom {
    margin-bottom: 18px;
}

.smallblock {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7px;
}

.color-lblue {
    background-color: #4fc4f6;
}

.color-red {
    background-color: #e64c65;
}

.color-dblue {
    background-color: #3468af;
}

.color-ddblue {
    background-color: #1a4e95;
}

.color-tweetblue {
    background-color: #35aadc;
}

.color-dred {
    background-color: #cc324b;
}

.color-lgrey {
    background-color: #50597b;
}

.color-dgrey {
    background-color: #394264;
}

.square-block {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-block img {
    width: 15px;
    height: 15px;
}

.share {
    height: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    color: #fff;
    letter-spacing: 1.2px;
    outline: none;
    border-radius: 0 4px 4px 0;
}
.smallblock:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1.5px #50587c;
}

.sharing {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.border-left {
    border-radius: 4px 0 0 4px;
    border: 0;
}

.newsletter {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.newsletter-bottom {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    margin-top: -3px;
}

.email {
    width: 170px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #11a8ab;
    display: flex;
    font-weight: normal;
    text-align: center;
    font-size: 10.5px;
    color: white;
    margin-bottom: 12px;
   
}


.password {
    width: 170px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #1f253d;
    display: flex;
    font-weight: normal;
    text-align: center;
    font-size: 10.5px;
    color: #9099b7;
    margin-bottom: 18px;
}

.icon {
    background-image: url(messages-g.png);
    background-size: 16px;
    background-color: #50587c;
    background-repeat: no-repeat;
    background-position: 10px;
    
}

.icon2 {
    background-image: url(lock.png);
    background-color: #50587c;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px;
    
}

.button {
    width: 115px;
    height: 32px;
    font-size: 11px;
    color: white;
    border-radius: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.subscribe {
    margin-top: 7px;  
}

.signin-button {    
    margin: auto;    
}


.sign-in {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.sign-in-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.color-grey {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #9099b7;
    width: 100%;
    line-height: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;   
}

.white-text {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    display: flex;       
}

.small {
    font-size: 12px;
}

.sign-bottom {
    width: 100%;
    height: 33px;
    background-color: #3468af;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-top: 10px;
}

.sign-bottom img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;
}

.progress-bar {
    width: 200px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 15px;          
}

.progress-content {
    width: 166px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    margin: 28px 15px 10px 15px;
              
}


.progress[value] {
    height: 15px;
    width: 166px;
    appearance: none;
    border-radius: 4px;
    background-color: #50597b;
    
}

#progress-upper[value]::-webkit-progress-value {
    background-color: #11a8ab;
    border-radius: 4px 0 0 4px;
    
}

#progress-down[value]::-webkit-progress-value {
    background-color: #4fc4f6;
    border-radius: 4px 0 0 4px;
   
}


.loading {
    width: 166px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 9px;   
}

.progress-block {
    display: flex;
    align-items: center;
    justify-content: space-between;      
}

.progress-block img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.date-today {
    width: 200px;
    background: #3468af;
    border-radius: 4px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.today-bottom {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 0 20px 0;

}

.number {
    height: 95px;
    font-size: 95px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;    
}

.top {
    width: 100%;
    height: 40px;
    background-color: #1a4e95;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 4px 4px 0 0;
}

.top img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 14px;
    margin-right: 14px;
}

.event {
   margin: auto;
}



.calendar {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #394264;
    border-radius: 4px;
   
}

.weekdays {
    color: #49a1cf;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px #7b90ee;
}

.month {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.week {
    width: 100%;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.day {
    width: 30px;
    height: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.today {
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-day {
    width: 20px;
    height: 20px;
    background-color: #e64c65;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.future {
    color: white;
}

.column {
    border-radius: 4px;
    background-color: #394264;
    text-align: center;
}

.anne-photo {
    background-image: url(anne_big.png);
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #50597b;
    margin-top: 30px;
}



.pieContainer {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    background-color: #fcb150;
    transform:rotate(-10deg);
    box-shadow: 0 0 0 1.5px #50597b;
  }
  
  .pie {
    
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    clip: rect(0px, 70px, 140px, 0px);
  }
  
  .hold {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    clip: rect(0px, 140px, 140px, 70px);
  }
  
  #pieSliceRed .pie {
    background-color: #e64c65;
    transform:rotate(75.6deg);
  }
  
  #pieSliceTeal {
    transform:rotate(75.6deg);
  }
  
  #pieSliceTeal .pie {
    background-color: #11a8ab;
    transform: rotate(172.8deg);
  }
  
  
  #pieSliceBlue {
   background-color: #4fc4f6;
    transform: rotate(172.8deg);
  }
  
  #pieSliceBlue .pie {
    transform: rotate(115.2deg);
  }
  
  
  
  .innerCircle {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #384265;
    border-radius: 50%;
    top: 25px;
    left: 25px; 
    box-shadow: 0px 0px 8px #1f253d inset;
    
  }
   .content {
    position: absolute;
    display: block;
    width: 90px;
    top: 25px;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    transform: rotate(10deg);

  }
  
  .grey-2013 {
    color: #9099b7;
    font-weight: normal;
    letter-spacing: 0.8px;
    font-size: 18px;
  }


@font-face {
    font-family: "Ubuntu";
    src: url('Ubuntu-L.ttf')format('truetype');
}

