.wrapper {
    margin-left: auto;
    margin-right: auto;
    background: #1f253d;
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 70px;
    font-family: Ubuntu;
    color: white;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 635px;
    height: 55px;
    background-color: #394264;
    border-radius: 3px;
    margin-bottom: 15px;
}

.header-begin {
    display: flex;
    height: 100%;
    width: 332px;
}

.header-end {
    display: flex;
    height: 100%;
    width: 303px;
    justify-content: space-between;
}

.frame {
    width: 635px;
    display: flex;
    justify-content: space-between;
}

.frame-column {
    width: 33,3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.headersblock {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
}

.userblock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid black;
    margin-right: 5px;
    margin-left: 5px;
    
}

.userblock img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.headertext {
    font-size: 12px;
    text-align: center;  
}

.header-block img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.blockhov:hover {
    background: #50587c;
    box-shadow: inset 0 -3px 3px #11a8ab;
    cursor: pointer;
}

.anne-small img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 1.4px #9099b7;
    
}

.red {
    position: relative;
    top: 10px;
    right: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e64c65;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 4px;
}

.five {
    font-size: 10px;
}

.menu-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;    
}

.menu-block {
    width: 100%;
    height: 40px;
    background-color: #394264;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 11px;
}

.menu-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    border: 1px solid red;    
}

.text-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
    border: 1px solid green;    
}

.block-top {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;    
}

.block-top2 {
    width: 200px;
    height: 45px;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    
}


.block-top img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.color-teal {
    background: #11a8ab;
}

.menu-block:hover {
    background: #50587c;
    cursor: pointer;
}

.menu-block:hover .oval-grey {
    background-color: #e64c65;
}

.border {
    border-radius: 0 0 4px 4px;
    border: 0;
}

.menu-txt {
    display: flex;    
}

.menu-blocks img {
    width: 18px;
    height: 18px;
    margin-right: 10px;    
}

.progress-value {
    display: inline-block;
    
}

.oval-grey {
    width: 25px;
    height: 15px;
    border-radius: 40%;
    background-color: #50597b;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.june {
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.june-middle {
    width: 100%;
    height: 250px;
    background-color: #394264;
    display: flex;    
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px 4px 0 0;

}

.june-bottom1 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 2px solid #e64c65;
    background-clip: padding-box;
    border-right: 1px solid transparent;
    border-radius: 0 0 0 4px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}

.june-bottom2 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 2px solid #11a8ab;
    background-clip: padding-box;
    border-right: 1px solid transparent;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}

.june-bottom3 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 2px solid #fcb150;
    background-clip: padding-box;
    border-right: 1px solid transparent;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
   
}

.june-bottom4 {
    width: 25%;
    height: 100%;
    background: #50587c;
    border-top: 2px solid #4fc4f6;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 0;
    
}

.grey {
    color: #9099b7;
    font-weight: bold;
    margin-left: 0.3em;
}

.red-text {
    color: #e64c65;
    font-weight: bold;
    margin-right: 3px;
}

.june-bottom {
    width: 200px;
    height: 50px;
    display: flex;
    display: flex;
}

.graph {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.graph-bottom {
    width: 200px;
    height: 50%;
    background-color: #394264;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 4px 4px;   
}

.graph img {
    width: 200px;
    border-radius: 4px 4px 0 0;    
}

.buttons {
    width: 170px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;   
}

/*
.time-button {
    width: 50px;
    height: 20px;
    border-radius: 6px;
    background-color: #50597b;
    color: white;
    font-size: 6px;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #394264;
}

.time-button:hover {
    background-color: #e64c65;
    cursor: pointer;
}
*/

.radio-button {
    display: inline-block;
    position: relative;
   }
  
  .radio-button input[type='radio'] {
    display: none;
  }
  
  .radio-button label {
    position: relative;
    color: white;
    background-color: #50597b;
    width: 50px;
    height: 20px;
    border-radius: 4px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #394264;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
    outline: none;
   }
  
  .radio-button input[type='radio']:checked + label {
    background-color: #cc324b;
    display: block;
    border: 1.5px solid #cc324b;
    
  }

.months {
    width: 95%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
        
}
    

.line {
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   

}
.video {
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 4px;
    box-shadow: inset 0 0 4px 1px #50587c;
    margin-bottom: 15px;
}

  .video-content {
    display: block;
    width: 192px;
    height: 144px;
    margin-top: 4px;
}

.stat {
    width: 200px;
    display: flex;
    flex-flow: row wrap;
}

.bigblock {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigblock img {
    width: 20px;
    height: 20px;
}

.stat-line {
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.border-topleft {
    border-radius: 4px 0 0 0;
    border: 0;
}

.border-topright {
    border-radius: 0 4px 0 0;
    border: 0;
}

.border-bottomleft {
    border-radius: 0 0 0 4px;
    border: 0;
}

.border-bottomright {
    border-radius: 0 0 4px 0;
    border: 0;
}

.anne {
    position: relative;
    width: 200px;
    background-color: #394264;
    border-radius: 4px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 15px;
}

.anne-text {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    width: 130px;
    line-height: 3em;
}

.grey-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #394264;
    box-shadow: 0 0 0 1.5px #9099b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus {
    position: relative;
    top: -2px;
    left: 1px;
    font-size: 13px;
    color: #9099b7;
}

.anne-bottom {
    width: 200px;
    height: 40px;
    display: flex;
    font-size: 10px;
}

.bottom1 {
    width: 33%;
    height: 100%;
    background: #50587c;
    border-top: 2px solid #e64c65;
    background-clip: padding-box;
    border-right: 1px solid transparent;
    border-radius: 0 0 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 {
    width: 33%;
    height: 100%;
    background: #50587c;
    border-top: 2px solid #11a8ab;
    background-clip: padding-box;
    border-right: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom3 {
    width: 33%;
    height: 100%;
    background: #50587c;
    border-top: 2px solid #fcb150;
    border-radius: 0 0 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anne-bottom img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}


.weather {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;
}

.font-normal {
    font-weight: normal;
    font-size: 10px;
}

.weather-block {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #394264;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 10px;
}

.weather-block:hover{
    background: #50587c;
    cursor: pointer;
}

.weather-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    border: 1px solid orange;    
}

.weather-blocks img {
    width: 18px;
    margin-left: 10px;  
}

.weather-day {
    color: #fff;
    margin-right: 4px;
}

.weather-block:hover .weather-day {
    color: #e64c65;
}

.block-day {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
          
}

.block-day img {
    width: 70px;
   }

.day-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.temp {
    font-size: 50px;
}

.date {
    font-size: 10px;
    letter-spacing: 0.5px;
}

.twitter {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.block-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey-block {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #394264;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    font-size: 10px;
    font-weight: normal;
    padding: 0 0 5px 0;
}

.blue-text {
    color: #4ebbec;
    
}

.tweet-text {
    text-align: left;
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    margin: 20px 20px 0 20px;
   
}

.grey-text {
    color: #9099b7;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0.5px;
    font-size: 11px;
  }

  .margin-left {
    margin-left: 20px;
  }

.smallblock {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7px;
}

.color-lblue {
    background-color: #4fc4f6;
}

.color-red {
    background-color: #e64c65;
}

.color-dblue {
    background-color: #3468af;
}

.color-ddblue {
    background-color: #1a4e95;
}

.color-tweetblue {
    background-color: #35aadc;
}

.color-dred {
    background-color: #cc324b;
}

.color-lgrey {
    background-color: #50597b;
}

.color-dgrey {
    background-color: #394264;
}

.square-block {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-block img {
    width: 15px;
    height: 15px;
}

.share {
    height: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1.2px;
}

.sharing {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.border-left {
    border-radius: 4px 0 0 4px;
    border: 0;
}

.newsletter {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.newsletter-bottom {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.email {
    width: 170px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #11a8ab;
    display: flex;
    font-weight: normal;
    text-align: center;
    font-size: 10.5px;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
}

.password {
    width: 170px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #1f253d;
    display: flex;
    font-weight: normal;
    text-align: center;
    font-size: 10.5px;
    color: #9099b7;
    margin-bottom: 17px;
}

.icon {
    background-image: url(messages-g.png);
    background-size: 16px;
    background-color: #50587c;
    background-repeat: no-repeat;
    background-position: 10px;
    
}

.icon2 {
    background-image: url(lock.png);
    background-color: #50587c;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px;
    
}

.button {
    width: 115px;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.subscribe {
    width: 115px;
    height: 30px;
    background: #11a8ab;
    font-size: 11px;
    color: white;
    border-width: 1.5px 0;
    border-style: solid;
    border-color: #979bc6 #6d6e70 #707287;
    border-radius: 4px;
    margin-top: 10px;    
}



.signin-button {
    width: 115px;
    height: 30px;
    background: #e64c65;
    font-size: 11px;
    color: white;
    margin: auto;
    border-width: 1.5px 0;
    border-style: solid;
    border-color: #979bc6 #6d6e70 #707287;
    border-radius: 4px;
}

.signin-button:hover {
    background: linear-gradient(#e64c65, #752633);
    cursor: pointer;
    animation: pulsate 1.5s linear infinite;
}

.subscribe:hover {
    background: linear-gradient(#11a8ab, #1b475a);
    cursor: pointer;
    animation: pulsate 1.5s linear infinite;
}

.subscribe:active {
    background: linear-gradient(#1b475a, #11a8ab);
    animation-play-state: paused;
}

.signin-button:active {
    background: linear-gradient(#752633, #e64c65);
    animation-play-state: paused;
}

.sign-in {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.sign-in-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.color-grey {
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #9099b7;
    width: 100%;
    height: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-text {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 5px;
    display: inline-block;    
}

.sign-bottom {
    width: 100%;
    height: 33px;
    background-color: #3468af;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-top: 10px;
}

.sign-bottom img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;
}

.progress-bar {
    width: 200px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 15px;          
}

.progress-content {
    width: 166px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    margin: 28px 15px 20px 15px;          
}

.progress {
    height: 15px;
    width: 166px;     
}

.loading {
    width: 166px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.progress-block {
    display: flex;
    align-items: center;
    justify-content: space-between;      
}

.progress-block img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.date-today {
    width: 200px;
    background: #3468af;
    border-radius: 4px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.today-bottom {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 0 20px 0;

}

.number {
    height: 95px;
    font-size: 95px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;    
}

.top {
    width: 100%;
    height: 40px;
    background-color: #1a4e95;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 4px 4px 0 0;
}

.top img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 14px;
    margin-right: 14px;
}

.event {
    width: 115px;
    height: 30px;
    background: #4fc4f6;
    font-size: 11px;
    color: white;
    border-width: 1.5px 0;
    border-style: solid;
    border-color: #979bc6 #6d6e70 #707287;
    border-radius: 4px;

}

.event:hover {
    background: linear-gradient(#4fc4f6, #074344);
    cursor: pointer;
    animation: pulsate 1.5s linear infinite;
}

.event:active {
    background: linear-gradient(#074344, #4fc4f6);
    animation-play-state: paused;
}

.calendar {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #394264;
    border-radius: 4px;
}

.weekdays {
    color: #49a1cf;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px #7b90ee;
}

.month {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week {
    width: 100%;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.day {
    width: 30px;
    height: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today {
    position: relative;
    width: 20px;
    height: 25px;
    background-color: #e64c65;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.future {
    font-size: 8px;
    font-weight: bold;
    color: white;
}

.column {
    border-radius: 4px;
    background-color: #394264;
    text-align: center;
}

.anne-photo {
    background-image: url(anne_big.png);
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #50597b;
    margin-top: 30px;
}

.diagram {
    position: relative;
    top: 30px;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-hole {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #394264;
    box-shadow: inset 0 0 0 1.4px grey;
    z-index: 1;
}

.grey-2013 {
    color: #9099b7;
   font-weight: bold;
    font-size: 13px;
}

.content {
    position: relative;
    width: 45px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

pie {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1.5px solid #394264;
    background-color: #fcb150;
    background-image: linear-gradient(260deg, #e64c65 50%, transparent 50%), linear-gradient(315deg, white 50%, transparent 50%),
                    linear-gradient(320deg, #11a8ab 50%, transparent 50%), linear-gradient(130deg, transparent 50%, transparent 50%),
                    linear-gradient(55deg, #4fc4f6 50%, transparent 50%), linear-gradient(150deg, transparent 50%, transparent 50%),
}


@font-face {
    font-family: "Ubuntu";
    src: url('Ubuntu-L.ttf')format('truetype');
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1.5px grey, 0 0 4px #ffd, 0 0 8px #fff;
    }